@import url(https://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic);
body{
  background-image: url("../img/fon.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
}
.main{
  margin-top: 5%;
}
.menu{
  text-align: center;
  background-color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  min-height: 30px
}
.menu ul{
  list-style: none;
  margin-top: 10px;
  text-align: center;
}
.menu ul li{
  display: inline-block;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}
.menu ul li a{
  color: black;
  font-size: 1.5em;
  text-transform: uppercase;
}
.maincontent{
  min-height: 500px;
  background-color: rgba(255,255,255,0.85);
  margin-bottom: 9%;
  padding-top: 2%;
}
.order input, .order select{
  min-height: 30px;
  color: black;
  font-size: 80%;
  padding-left: 2%;
  width:80%;
}
 .order select{
   margin-top: 1%;
   width:12%;
   display: inline-block;


 }
.priceorder{
  display: block;
  border: none;
  background-color: rgba(0,153,255,0.8);
  color: white;
  padding: 1% 3%;
}
